* {
    color: #272424;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0e0230;
}

.container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    box-shadow: 0 4px 8px 0 #442e82;
    transition: 0.3s;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    background-color: rgba(129, 87, 247, 0.5);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    z-index: 1;
}

#triangle-rotate {
    position: absolute;
}

a {
    display: block;
    height: 40px;
    width: 70%;
    max-width: 200px;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
    color: #333;
    border: none;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all 0.35s;
    margin: 5px 10px auto 10px;
    background-color: rgba(129, 87, 247, 0.5);
    border-radius: 5px;
}

a span {
    position: relative;
    z-index: 2;
    color: #272424;
}

a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all 0.35s;
}

.btn1:after {
    background: rgba(255, 0, 59, 0.5);
    border-radius: 5px;
}

.btn2:after {
    background: rgba(0, 255, 0, 0.5);
    border-radius: 5px;
}

.btn3:after {
    background: rgba(0, 0, 255, 0.5);
    border-radius: 5px;
}

.btn4:after {
    background: rgba(255, 204, 0, 0.5);
    border-radius: 5px;
}

.btn5:after {
    background: rgba(153, 0, 204, 0.5);
    border-radius: 5px;
}

.btn6:after {
    background: rgba(240, 12, 190, 0.5);
    border-radius: 5px;
}

.btn7:after {
    background: rgba(14, 255, 203, 0.5);
    border-radius: 5px;
}

.btn8:after {
    background: rgba(255, 242, 0, 0.789);
    border-radius: 5px;
}

a:hover:after {
    width: 100%;
}

p {
    color: rgb(209, 194, 194);
}

.display-control {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 3%;
    left: 0;
}

.display-control .card {
    margin-left: 20px;
}

.card .control-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.label-control,
.range-control,
.label-value,
.label-type-control {
    color: #d7d7d7;
}

.display-control {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 3%;
    left: 0;
}

.display-control .card {
    margin-left: 20px;
}

.card .control-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.card #input-url,
.card #input-file {
    flex: 1;
}

.control-container {
    margin-bottom: 10px;
    width: 100%;
}

.file-directory {
    font-size: 16px;
    margin-top: 5px;
}

#url-file {
    display: none;
}

#local-file {
    display: block;
}

#url-file,
#local-file {
    width: 100%;
}

#file-type {
    width: 100%;
    max-width: 158px;
    padding: 4px;
    border: 1px solid rgba(193, 37, 245, 0.5);
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    color: #d7d7d7;
    background: rgba(193, 37, 245, 0.5);
}

#input-url {
    padding: 2px;
    max-width: 150px;
    margin-left: 58px;
    color: #d7d7d7;
    border: 1px solid rgba(193, 37, 245, 0.5);
    background: rgba(193, 37, 245, 0.5);
}

#input-file {
    display: none;
}

.label-file {
    padding: 4px;
    width: 150px;
    background: rgba(153, 0, 204, 0.5);
    color: #d7d7d7;
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    margin-left: 65px;
    border-radius: 5px;
}

.label-file:hover {
    background: rgba(193, 37, 245, 0.5);
}

#load-file-btn {
    padding: 4px;
    width: 90px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
    border: none;
    cursor: pointer;
    color: #d7d7d7;
    background: rgba(153, 0, 204, 0.5);
}

#load-file-btn:hover {
    background: rgba(193, 37, 245, 0.5);
}

.card #input-url,
.card #input-file {
    flex: 1;
}

.control-container {
    margin-bottom: 10px;
    width: 100%;
}

.file-directory {
    font-size: 16px;
    margin-top: 5px;
}

#url-file {
    display: none;
}

#local-file {
    display: block;
}

#url-file,
#local-file {
    width: 100%;
}

#file-type {
    width: 100%;
    max-width: 158px;
    padding: 4px;
    border: 1px solid rgba(193, 37, 245, 0.5);
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    color: #d7d7d7;
    background: rgba(193, 37, 245, 0.5);
}

#input-url {
    padding: 2px;
    max-width: 150px;
    margin-left: 58px;
    color: #d7d7d7;
    border: 1px solid rgba(193, 37, 245, 0.5);
    background: rgba(193, 37, 245, 0.5);
}

#input-file {
    display: none;
}

.label-file {
    padding: 4px;
    width: 150px;
    background: rgba(153, 0, 204, 0.5);
    color: #d7d7d7;
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    margin-left: 65px;
    border-radius: 5px;
}

.label-file:hover {
    background: rgba(193, 37, 245, 0.5);
}

#load-file-btn {
    padding: 4px;
    width: 90px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
    border: none;
    cursor: pointer;
    color: #d7d7d7;
    background: rgba(153, 0, 204, 0.5);
}

#load-file-btn:hover {
    background: rgba(193, 37, 245, 0.5);
}

/* Slider  */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    max-width: 200px;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 16px;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 15px;
    background: #ccc;
    border-radius: 16px;
}

input[type="range"]::-moz-range-track {
    height: 15px;
    background: #ccc;
    border-radius: 16px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid rgba(153, 0, 204, 1);
    box-shadow: -407px 0 0 400px rgba(153, 0, 204, 1);
}

input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid rgba(153, 0, 204, 1);
    box-shadow: -407px 0 0 400px rgba(153, 0, 204, 1);
}

/* Smartphone port */
@media screen and (max-width: 25em) {
    .card-obj-smart {
        max-width: 70%;
    }
}
